*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pad-top-10{
    padding-top: 20px;
}

.pad-t-b{
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-style{
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 10px;
}

.submit-style{
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 35px;
    background-color: rgba(251, 35, 7, 0.916);
    color: #fff;
    cursor: pointer;
}

.hover-style{
    cursor: pointer;
}

.title-style{
    margin-left: 20px;
    border-bottom: 2px solid white;
}

.col-3{
    width: 33.33%;
    padding: 0 10px;
}

.width-100{
    width: 100%;
}

.pos-style-1:hover .pos-style-2{
    display:flex;
}

.pos-style-2{
    position: absolute;
    bottom: -328px;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: auto;
    height: 299px;
    display: none;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.463);
}

.pos-style-1{
    position: relative;
}

.header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #000;
}
    
.header .header__nav a{
    color: rgb(4, 61, 249);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
    padding: 20px 25px 24px 25px;
}

.header .header__nav a:hover{
    color: rgb(249, 131, 4);
    border-bottom: 4.5px solid rgb(249, 131, 4);
}

.header .header__nav a:focus{
    color: rgb(249, 131, 4);
    border-bottom: 4.5px solid rgb(249, 131, 4);
}

.content-image{
    position: relative;
    top: 70px;
    padding-bottom: 80px;
}

.content-wrapper-1{
    width: 60%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 140px;
}

.project-container{
    background-color: rgba(8, 66, 121, 0.249);
}   

.project-item-1:hover ,.project-item-2:hover ,.project-item-3:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.463);
}

.youtube-container{
    width:100%;
    min-height: 65vh;
    background-color: #0c6bcb8f;
    padding: 30px 0px 30px 0px;
}

.news-wrapper{
    width:100%;
    height: 60%;
}

.news-next-wrapper .news-next p{
    width: 155px;
    height: auto;
    text-align: center;
}

.news-container .partner-wrapper i{
    width: 100px;
    align-items: center;
    font-size: 50px;
    margin-left: 32px;
}

.news-container .partner-wrapper{
    min-height: auto;
}

footer{
    width: 100%;
    height: auto;
    background-color: rgb(24, 44, 135);
    color: #fff;
}

.header__nav .header__nav__title a{
    font-size: 18px;
    color: #000;
    line-height: 15px;
    width: 200px;
}

.header__nav__container{
    width: 45em;
}

.header__nav__btn-mobile{
    display: none;
}

/* Path: menu-mobile.css */

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left: 0.00001px solid rgba(0, 0, 0, 0.26);
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  .sidepanel a i{
    margin-right: 20px;
     float: right;
    padding-bottom: 5px;
  }
  
  .sidepanel a:hover {
    color: #fd0a0a;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }

/* Path: responsive.css */

@media (max-width: 549px){
    .container{
        flex-direction: column;
    }   
    .container-column{
        width: 100%;
    }

    .header__nav__btn-mobile{
        display: block;
        font-size: 24px;
        margin: 0 0 5.9px 5.5px;
        color: rgba(243, 105, 13, 0.947);
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(5, 9, 241, 0.952);
    }
    .header__nav__btn-mobile:hover{
        background-color: rgb(243, 105, 13);
        color: #fff;
    }
    .header .header__logo-box img{
        width: 190px;
        padding-top: 10px;
    }

    .header-mobile{
        width: 100%;
        height: 80px;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content-wrapper-1{
        width: 95%;
        margin-left: 0;
        padding-top: 130px;
    } 
    .content-image{
        position: relative;
        top: 0;
        padding-bottom: 0;
        display: none;
    }

    .content-container .content-wrapper-2 img{
        width:inherit;
    }

    .header{
        flex-direction: column;
        height: auto;
    }
    .header .header__nav__container{
        display: none;
    }
    .youtube-container .youtube-wrapper-2 input{
        height: 30px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0 10px;
        width: 80%;
        margin-left:10%;
        margin-bottom: 5px;
    }
    .youtube-container .youtube-wrapper-2 input[type="submit"]{
        margin-left:9.99%;
    }
    .youtube-container .youtube-wrapper-1 .youtube-wrapper-1-2 iframe{
        width: fit-content;
        height: auto;
    }
    .news-container .news-wrapper .news-next-wrapper{
        display: none;
    }
    .footer-wrapper .footer-wrapper-left h3{
        text-align: left;
        width: 100%;
    }
    .footer-wrapper .footer-wrapper-left p{
        text-align: left;
        width: 100%;
    }
    .news-container .partner-wrapper i {
        width: 85px;
    }
}

  





    


