/* main content */
main {
    margin-top: 80px;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    width: 20%;
    background-color: #ddd;
    padding: 20px;
}

.main-content {
    width: 60%;
    background-color: #fff;
    padding: 20px;
}

.right-sidebar {
    width: 20%;
    background-color: #ddd;
    padding: 20px;
}

@media (max-width: 549px){
    .left-sidebar, .main-content, .right-sidebar {
        margin-top: 50px;
    }
}